*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
/elpa
semanticdb
url
ede-projects.el
.DS_Store
custom.el
places
.smex-items
savefile/
projectile-bookmarks.eld
session*
.cask
tramp
/var/pcache
var/prescient-save.el
custom.el
transient/*
anaconda-mode/*
.python-environments/*
ac-comphist.dat
request/*
/.mc-lists.el
/projectile.cache
/emojis
/bookmarks
*.cache
/eln-cache/
/forge-database.sqlite
/games/tetris-scores
/.lsp-session-v1
# OSM files
/var/
/straight/
/network-security.data
/tree-sitter/
